.nee_main_wrap > h1:first-child {
    color: highlight;
    font-weight: bold;
    font-size: 30px;
    margin: 0px !important
}


.wrap.nee_main_wrap > p {
    font-size: 15px;
    font-weight: bold;
}


.nee_data_right {
    background-color: white;
    float: right;
    min-height: 100px;
    width: 300px;
     padding-bottom: 30px;
}


.nee_upload_div {
    background-color: white;
    float: left;
    min-height: 100px;
    min-width: 70%;
    text-align: center;
     padding-bottom: 30px;
}


.nee_upload_div h3 {
    color: #40ad6e;
    font-size: 18px;
    font-weight: bold;
}


.nee_upload_div a.button {
   
    height: auto;
    ;
}